.link-def1{
    background-color: white;
    color: blue;
    padding: 2px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  /* hover only works for desktop not phone */
  .link-def1:hover{
    background-color: green;
    color: white;
  }


/* Home Page */

.home-main-ptag{
  display: center; 
  background:#ccddcc;  
}
.home-main-ptag p {
  vertical-align: middle;
}

.link-Login{
    width: 5vw;
    position: absolute;
    top: 1.12vh;
    right: 6vw;
}

.link-User-Info{
    width: 5vw;
    position: absolute;
    top: 1vh;
    right: 1vw;
}


/* Profile Page profProfiles*/
.Single-Profile{
    border: 1px solid black;
   margin-top: 1vh;
}

.Profile-Pic{
    max-width: 20vw;
    max-height: 20vh;
}

.Single-Profile-Header{
    display:flex;
    flex-direction: row;
}
.Single-Profile-Header p {
    padding-top:2vh;
    margin: 5px
}
.Single-Profile-Body{
    display:flex;
    flex-direction: row;
    word-wrap: break-word;
    border: 1px solid red;
}

.Single-Profile-Body p{
    margin: 1vw;
}
.Single-Profile-Body ul{
    margin: 1vw;
}