.link-def1{
    background-color: white;
    color: blue;
    border: 2px solid green;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  /* hover only works for desktop not phone */
  .link-def1:hover{
    background-color: green;
    color: white;
  }


/* Home Page */

.home-main-ptag{
  display: center; 
  background:#ccddcc;  
}
.home-main-ptag p {
  text-align:center;
  vertical-align: middle;
  display: table-cell;   
}
