.Home-Nav-Container{
    display: flex;
}

.nav-links-def1{
    box-shadow: inset 0 0 0 1px #48f75198;
    color: #39863d;
    border-radius: 24px;
    transition-duration: 167ms;
    padding: 5px 14px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(0,0,0,0);
    width: 9vw;
    height: 6vh
  }

  @media (max-width: 768px){
    .nav-links-def1{
        font-size: 15px;
        width: 12vw;
        height: 10vh;
        padding: 5px 12px;
    }
}

  /* hover only works for desktop not phone */
  .nav-links-def1:hover{
    background-color: #a8fbac98;
    color: #39863d;
  text-decoration: none;
  }



/* ///////////////////////////////////// */
/* Header */
.Header-Tag{
    max-width:1128px;
    margin:auto;
    padding: 12px 0 16px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    flex-wrap: nowrap; 
}


/* ///////////////////////////////////// */
/* Home Page */

.home-main-ptag{
  display: center; 
  background:#ccddcc;  
}
.home-main-ptag p {
  vertical-align: middle;
}

.Login-corner-container{
    max-width:20vw;
    margin:auto;
    display: flex;
    right: 6vw;
    top: 3vh;
    position: fixed;
    flex-wrap: nowrap;
    justify-content: space-between;
}


/* ///////////////////////////////////// */
/* Profile Page profProfiles*/
.Single-Profile{
    border: 1px solid black;
   margin-top: 1vh;
   
}

.Profile-Pic{
    max-width: 20vw;
    max-height: 20vh;
}

.Single-Profile-Header{
    display:flex;
    flex-direction: row;
    background-color: #f0fff0;
}
.Single-Profile-Header p {
    padding-top:2vh;
    margin: 5px
}
.Single-Profile-Body{
    display:flex;
    flex-direction: row;
    word-wrap: break-word;
    border: 1px solid #39863d;
    background-color: #ffffff;
}

.Single-Profile-Body p{
    margin: 1vw;
}
.Single-Profile-Body ul{
    margin: 1vw;
}